:root {
    --bkground-color:#fff;
    --bkground-title:#2F303A;
    --heading-title-color:#FFFFFF;
    --word1st-logo-color: #2196F3;
    --word2sd-logo-color: #000000;
    --word2sd-logo-footer:#fff;
    --links-color:#212121;
    --contacts-color:#757575;
    --links-pseudoclasses:#2196F3;
    --bkground-button: #2196F3;
    --headings-color:#212121;
    --paragraph-color:#757575;
    --font-family:"Roboto", "sans-serif";

    /* Variabiles Portofolio */
    --color-button:#212121;
    }
    
    body{
        font-family: var(--font-family);
        width: 100vw;
        margin: 0;
    }
    p, 
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
    {
        margin: 0;
    }
    ul,
     li {
        margin: 0;
        padding: 0;
    }
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    main{
        width: 100vw;
        height: auto;
    } 
    /* Header logo */
    .header-page{
        background-color: var(--bk-color); 
        font-family:"Raleway", sans-serif; 
        display: flex;  
        align-items: center; 
        justify-content: center; 
        border-bottom: 1px solid #ECECEC;
    }
         .header-logo{
            display: block;
            color: var(--word1st-logo-color);
            font-family: Raleway;
            font-size: 1.625rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.04875rem;
            text-decoration: none;
            width: 145px;
            padding-top: 24px;
            padding-bottom: 25px;
        } 
       .word-logo{
        color: var(--word2sd-logo-color);
       }
    
       .header-logo:active{
        color: var(--links-pseudoclasses);
       }
       /* Navigation bar*/
       .global-container-nav{
        max-width: 1200px;
        width: 100vw; 
        margin: 0 auto;
        display: flex; 
        justify-content: space-between;  
       }
    .navigation-bar{
        display: flex; 
         align-items: center;
         width: 497px;
         justify-content: space-between;
    }
     .container-bar{
         display: flex; 
         align-items: center;
        list-style: none;
         /* width: 259px;  */
        padding: 32px 0;
    } 
    .container-bar li:not(:last-child){
        margin-right: 50px;
    } 
    
    .header-page .container-bar a{
        display: block;
        color: var(--links-color);
        font-family: Roboto;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.0175rem;
        text-decoration: none;
    }
    .header-page .container-bar a:hover,
    .header-page .container-bar .item-bar a:focus{
        color: var(--links-pseudoclasses);
    }
     .header-page .container-bar a:active{
        color: var(--links-pseudoclasses);
    } 
    .header-page .container-bar .current{
        color: var(--links-pseudoclasses);
    }
    
    .header-page .contact-item:not(:last-child){
        margin-right: 40px;
    }
    
    .items-contact{
        display: flex; 
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .items-contact a{
        color: var(--contacts-color);
        font-family: Roboto;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.0175rem;
       text-decoration: none;
       
    }
    .header-page .contact-item:hover,
    .header-page .contact-item:focus{
        color: var(--links-pseudoclasses);
    }
    /* Section title page*/
    .section-title{
        background-color: var(--bkground-title); 
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .container-title{
        max-width: 1200px;
        width: 100vw; 
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 200px 0;
        margin: 0 auto;
    }
    .container-title h1{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 900;
    line-height: 3.75rem;
    letter-spacing: 0.165rem;
    text-transform: uppercase;
    width: 696px;
    margin-bottom: 30px; 
    }

    .title-button{
    color: #FFF;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    letter-spacing: 0.06rem;
    width: 161px;
    }
    .request{
        width: 200px;
        border-radius: 0.25rem;
        background-color: var(--bkground-button);
        box-shadow: 0px 4px 4px 0px #00000026;
        border: none;
    }
    .section-title .request:hover{
        background-color: #188CE8;
        color: #FFFFFF;
    } 
    /* Section our targets */
    .container-targets{
        max-width: 1200px;
        width: 100vw;   
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        padding: 94px 0px 94px 0px;
        list-style: none;
        gap: 30px;
    }
    .container-targets .item-target{
        max-width: calc((100% - 90px) / 4);
    }
    .target-title{
        display: block;
        color: var(--headings-color);
        font-family: inherit;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.02625rem;
        text-transform: uppercase;
        /* width: 270px; */
        margin-bottom: 10px;
    }
    
    .target-info{
        display: block;
        color: var(--paragraph-color);
        font-family: inherit;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.02625rem;
        /* max-width: 270px; */
    } 
    /* Section What we do */
    .container-servicies{
        max-width: 1200px;
        width: 100vw;
        margin: 0 auto;
    }
    .container-servicies .items-servicies{
        list-style: none;
        display: flex;
       padding-bottom: 94px;
      
    }
    .items-servicies .item-photo-servicies{
        max-width: calc((100% - 60px) / 3);
    }
    .items-servicies .item-photo-servicies:not(:last-child){
        margin-right: 30px;
    } 
    .items-servicies .item-photo-servicies:last-child(3n){
        margin-right: 0;
    }

     .servicies{
        color: var(--headings-color);
        text-align: center;
        font-family: inherit;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.0675rem;
        margin-bottom: 50px;
    }
    /* Section Our Team */
     .section-team{
        background-color: #F5F4FA; 
        width: 100vw;
    }
    .container-team{
        max-width: 1200px;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        padding: 94px 0;
    }
    .items-team{
        list-style: none;
        display: flex;
        gap: 30px;
        padding: 0;
        justify-content: space-between;
    }
    
    
    .items-team li{
        border-radius: 0rem 0rem 0.25rem 0.25rem;
        background: #FFF;
        box-shadow: 0px 2px 1px 0px #00000033, 
                    0px 1px 1px 0px #00000024,
                    0px 1px 3px 0px #0000001f;  
        max-width: 270px;
       
    }
    .footer-card{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .section-team .about-team{
        color: var(--headings-color);
        text-align: center;
        font-family: inherit;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.0675rem;
        margin-bottom: 50px;
    }
    
    .title-name{
        color: var(--headings-color);
        text-align: center;
        font-family: inherit;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.03rem;
        margin-bottom: 10px;
    }
    
    .training{

        color: var(--paragraph-color);
        text-align: center;
        font-family: inherit;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.03rem;
    }
    
    /* Section Footer */
    .footer-page{
        background-color: var(--bkground-title);
        display: flex;
        justify-content: space-around;
    }
    .container-footer{
        max-width: 1200px;
        width: 100vw;
         padding: 60px 15px; 
         display: flex;
         flex-direction: column;
    }
    
    .footer-logo{
        display: block;
        color: var(--word1st-logo-color);
        font-family: Raleway;
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.04875rem;
        text-decoration: none;
        margin-bottom: 28px;
        width: 145px;
    } 
    .word-logo{
    color: var(--word2sd-logo-color);
    }
    
    .footer-logo:active{
    color: var(--links-pseudoclasses);
    }
    .word-logo-footer{
        color: var(--word2sd-logo-footer);
    }
    .contact-items-footer{
        max-width: 231px;
    }
    .contact-items-footer ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .address-item .address-office{
        color: #FFF;
        font-family: inherit;
        font-size: 0.875rem;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.02625rem;
    }
    .address-item a{
        display:block;
        color: #ffffff99;
        font-family: inherit;
        font-size: 0.875rem;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.02625rem;
        text-decoration: none;
    }
    
    .contact-items-footer .address-item a:hover,
    .contact-items-footer .address-item a:focus{
        color: var(--links-pseudoclasses);
    }
    .address-item:not(:last-child){
        margin-bottom: 12px;
    }
    /* Page Portofolio */
    /* .button-field {
        list-style: none; */

        /* .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
          }  */

        .container-projects{
            max-width: 1200px;
            width: 100vw;
            margin: 94px auto;
        }
    
        .list {
            list-style: none;
        }
    
    .button-field .button-title{
        /* color: var(--color-button); */
        display: inline-block;
        font-family: inherit; 
        text-align: center;
        font-family: inherit;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.625rem; 
        letter-spacing: 0.03rem;
        padding: 6px 22px 6px 22px;
    }

    .button-field {
        display: flex;
        justify-content: center;
        gap: 8px;
    }
    .button-categories{

        border-radius: 0.25rem;
        background-color: #F5F4FA;
        box-shadow: 0px 2px 2px 0px #0000001f, 
                    0px 1px 2px 0px #00000014, 
                    0px 3px 1px 0px #0000001a;
        border: none; 
    }
    .button-categories:hover,
    .button-categories:focus{
        color: #fff;
        background-color: var(--links-pseudoclasses)

    }    
    .button-categories:active{
        color: #FFFFFF;
        background-color: var(--links-pseudoclasses);
     } 
   
    /* Section Gallery */
    .section-gallery{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        gap:30px; 
        padding: 50px 0;
    }
    .section-gallery .portfolio-item{
        /* flex-basis: calc((100% - nr de gap dintre imag pe linie * valoarea gap)/nr imag dintr-o linie) */
        max-width: calc((100% - 60px) / 3);
        /* margin-right: 30px;
        margin-bottom: 30px; */
    } 
    /* .section-gallery .portfolio-item:nth-last-child(-n + 3){
        margin-right: 0;
        margin-bottom: 0;

    } */
    /* .section-gallery .portfolio-item:nth-child(3n){
        margin-right: 0;
    } */

   
    .card-title{
    display: block;
    color: var(--headings-color);
    font-family: inherit;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: 0.0675rem;
    margin-top: 0;
    margin-bottom: 4px;
    /* width: 322px; */
    }
    .card-category{
    display: block;
    color: var(--paragraph-color);
    font-family: inherit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0.03rem;
    /* width: 332px; */
    }

    .card-information{
        padding: 20px 24px;
        border: 1px solid #EEEEEE;
        border-top: transparent;
    }


    
    